DATABASE_URL="postgresql://reservas_user:reservas_pass@localhost:5432/reservas_db"
NEXTAUTH_SECRET="secreto-largo-aleatorio-minimo-32-chars-aqui"
NEXTAUTH_URL="http://localhost:3000"
INSTITUTIONAL_DOMAIN="uao.edu.co"
